.reviews {
	display: flex;
	justify-content: space-between;
	/* width: 100%; */
	overflow: hidden;
	column-gap: 5rem;

	margin: 0 10rem;

	margin-bottom: 10rem;
}

.review {
	/* width: 45%; */
	width: 50%;
	border: 2px solid rgb(236, 236, 236);
	border-radius: 0.5rem;
	padding: 2.5rem;

	font-size: 1.5rem;
}

.review div {
	display: grid;
	grid-template-columns: 1fr 10fr;
	grid-template-rows: 1fr 1fr;

	margin-bottom: 1.5rem;
}

.review div span:first-of-type {
	color: var(--accent-color);
	font-weight: 700;
	margin-top: auto;
}

.review div img {
	grid-row: 1/-1;
	grid-column: 1/2;

	margin-right: 1.5rem;
}

.review p {
	margin-bottom: 2rem;
}

.review a {
	color: var(--accent-color);
	font-weight: 700;
	text-align: center;

	display: inline-block;
	width: -webkit-fill-available;

	padding: 1rem;
	border: 2px solid rgb(236, 236, 236);
	border-radius: 0.5rem;
}
